@import url(./reset.css);
@import url("./../fonts/gotham/stylesheet.css");

:root {
  --animation-transition: cubic-bezier(0, 0.52, 0.43, 0.99);
  --accent-color: #f6712b;
}

@font-face {
  font-family: "TTFirsNeue";
  src: url(./../fonts/TTFirsNeue/TTFirsNeue-DemiBold.ttf);
}

body {
  color: white;
  background-color: #101010;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
}

/* BASE */

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
}

.none {
  display: none !important;
}

.title {
  text-align: center;
  font-family: "TTFirsNeue";
  font-weight: 400;
  font-size: 39px;
  line-height: 1.3;
}
.title strong {
  color: var(--accent-color);
}
.button {
  position: relative;
  max-width: fit-content;
  color: #fff;
  text-decoration: none;
  padding: 15px 50px;
  text-align: center;
  border-radius: 20px;
  background-color: var(--accent-color);
  font-weight: 400;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 1;
  background-color: var(--accent-color);
  transition: filter 0.3s ease;
  z-index: -1;
}
.button:hover::after {
  filter: blur(4px);
}
.button:active::after {
  filter: blur(1px);
}

/* VIDEO */

.bg__video {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: -1;
}

.bg__video::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, rgb(16, 16, 16, 0) 42.16%, #101010 100%);
  background-color: rgba(16, 16, 16, 0.6);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.bg__video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* HEADER */

.header__content {
  padding: 60px 0 140px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.header__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 250px;
}

.header__nav a {
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  padding-bottom: 8px;
  transition: 0.2s ease-in;
}

.header__nav a::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0px;
  left: 50%;
  width: 0px;
  background-color: #fff;
  transition: 0.2s ease-in;
}

.header__nav a:hover {
  color: var(--accent-color);
}
.header__nav a:hover::after {
  width: 100%;
  left: 0;
  background-color: var(--accent-color);
}

/* INTRO */
.header_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.header__logo {
  max-width: 100%;
  max-height: 343px;
  transform: translateY(30%);
  opacity: 0;
  transition: all 0.8s var(--animation-transition);
}
@media (max-height: 800px) {
  .header__logo {
    max-width: 75%;
  }
}
.header__logo.animated {
  transform: translateY(0);
  opacity: 1;
}

.header__logo img {
  height: 100%;
  width: auto;
}

.header__text {
  text-align: center;
  padding-top: 40px;
  max-width: 696px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  transform: translateY(30%);
  opacity: 0;
  transition: all 0.8s var(--animation-transition) 0.5s;
}
.header__text.animated {
  transform: translateY(0);
  opacity: 1;
}

.header__button {
  transform: translateX(30%);
  opacity: 0;
  transition: transform 0.8s var(--animation-transition) 0.8s,
    opacity 0.8s var(--animation-transition) 0.8s;
}
.header__button.animated {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 1370px) {
  .container {
    max-width: 1000px;
  }
  .title {
    font-size: 30px;
  }
  .header__content {
    padding: 40px 0 130px 0;
  }
  .header__nav ul {
    justify-content: space-between;
    column-gap: 100px;
  }
  .header__nav a {
    font-size: 16px;
  }
  .header__logo {
    width: 70%;
  }
  .header__text {
    max-width: 70%;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 550px;
  }
  .header__content {
    justify-content: center;
  }

  .header__nav {
    display: none;
  }
  .header__logo {
    width: 273px;
    height: 139px;
  }

  .header__text {
    max-width: 290px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.36;
  }
  .header__button {
    display: none;
  }
  .button {
    padding: 15px 40px;
    font-size: 10px;
  }
}

/* MAIN */
.main {
  overflow: hidden;
  position: relative;
}

.bg__img {
  position: absolute;
  width: 110%;
  height: 50%;
  z-index: -1;
  background-size: cover;

  background-repeat: no-repeat;
}

.bg__img:nth-child(1) {
  top: 0;
  background-position: top 0 right 50px;
}
.bg__img:nth-child(2) {
  bottom: 0;
  transform: rotate(220deg);
  background-position: bottom 0 left 0px;
}
.bg__img:nth-child(3) {
  top: 50%;
  transform: translate(50%, -50%) rotate(230deg);
  background-position: top 0 right -50px;
}

.higher {
  top: 15%;
}
.below {
  bottom: 0%;
}

/* BARS SECTION */

.services {
  padding-top: 130px;
  margin-bottom: 100px;
}

.services__content {
  justify-content: center;
  text-align: center;
}

.services__title {
  margin-bottom: 60px;
}

.services__items {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 40px;
}
.services__bar {
  position: relative;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 25px;
  width: 660px;
  height: 426px;
  opacity: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: box-shadow 0.3s ease-in,
    transform 0.8s var(--animation-transition),
    opacity 0.8s var(--animation-transition);
}
.services__bar:nth-child(1) {
  transform: translate(-10%, 10%);
}
.services__bar:nth-child(2) {
  transform: translate(0, 10%);
}

.services__bar.animated {
  opacity: 1;
  transform: translate(0, 0);
}

.services__bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 65.83%,
    rgba(0, 0, 0, 0.75) 100%
  );
  z-index: -1;
}

.bar__title {
  text-align: left;
  line-height: 1.4;
  color: #ffffff;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.bar__more {
  position: relative;
  color: #fff;
}
.bar__more::after {
  position: absolute;
  content: "";
  display: block;
  height: 10px;
  width: 39px;
  background-image: url(./../img/services/arrow-right.svg);
  background-size: contain;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  z-index: 2;
  transition: left 0.3s ease-in;
}

.services__bar:hover {
  transform: scale(1.03);
  z-index: 3;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.services__bar:hover .bar__more::after {
  left: 30%;
}

@media (max-width: 1370px) {
  .services__bar {
    width: 48%;
    max-height: 300px;
    row-gap: 20px;
  }
  .bar__more::after {
    left: 30%;
  }
}
@media (max-width: 800px) {
  .bar__more::after {
    left: 40%;
  }
}
@media (max-width: 600px) {
  .services {
    padding-top: 0px;
    margin-bottom: 30px;
  }
  .services__title {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 0.93;
  }
  .services__items {
    flex-direction: column;
    align-items: center;

    row-gap: 13px;
  }
  .services__content {
    justify-content: center;
    text-align: center;
  }

  .services__bar {
    row-gap: 0px;
    width: 80%;
    height: 193px;
  }

  .bar__title {
    font-size: 16px;
  }
  .bar__more {
    font-size: 8px;
  }
  .bar__more::after {
    height: 5px;
    width: 20px;

    top: 50%;
    left: 25%;
  }
  .services__bar:hover .bar__more::after {
    left: 30%;
  }
}

/* About us */
.about {
  padding: 100px 0 150px 0;
}

.about__item {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;

  height: 439px;
  display: flex;
  justify-content: space-between;

  opacity: 0;
  transform: translate(-10%, 0);

  align-items: center;
  background-color: rgba(13, 13, 13, 0.9);

  transition: transform 0.8s var(--animation-transition),
    opacity 0.8s var(--animation-transition);
}

.about__item + .about__item {
  margin-top: 18px;
}

.about__item:nth-child(even) {
  flex-direction: row-reverse;
  transform: translate(10%, 0);
}

.about__item.animated {
  opacity: 1;
  transform: translate(0, 0);
}

.about__text {
  padding: 0 110px;
  max-width: 660px;
  text-align: center;
}
.about__title {
  margin-bottom: 30px;
}

.about__desc {
  max-width: 445px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.22;

  color: #ffffff;
}
.about__img {
  position: relative;
  height: auto;
}

.about__img::after {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;

  background-color: #ff762c;
  z-index: -1;
  filter: blur(100px);
  opacity: 0;
  transition: opacity 0.5s var(--animation-transition);
}

.about__item.active .about__img::after {
  opacity: 0.8;
}

@media (max-width: 1370px) {
  .about__item {
    padding: 0 10px;
  }
  .about__text {
    padding: 0 50px;
  }
  .about__desc {
    font-size: 14px;
  }
  .about__img {
    width: 40%;
    z-index: -1;
  }
  .about__img img {
    max-width: 150%;
  }
  .about__item:nth-child(2) .about__img img {
    max-width: 150%;
    transform: translateX(-35%);
  }
}

@media (max-width: 800px) {
  .about__img img {
    max-width: 300%;
  }
  .about__item:nth-child(2) .about__img img {
    max-width: 200%;
  }
  .about__item:nth-child(3) .about__img img {
    transform: translateX(-25%);
  }
}
@media (max-width: 600px) {
  .about {
    padding: 50px 0 50px 0;
  }

  .about__item {
    flex-direction: column;
    padding: 36px 0 0 0;
    max-width: 300px;
    height: 540px;
    row-gap: 0px;
    align-items: center;
    overflow: hidden;
  }
  .about__item:nth-child(even) {
    flex-direction: column;
  }
  .about__item + .about__item {
    margin-top: 30px;
  }

  .about__text {
    padding: 0 60px;
  }
  .about__title {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 0.95;
    text-align: center;
  }

  .about__desc {
    max-width: 180px;
    font-size: 8px;
    line-height: 1.21;
  }
  .about__img {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .about__item:nth-child(1) .about__img img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 110%;
    object-fit: cover;
  }
  .about__item:nth-child(2) .about__img img {
    position: absolute;
    top: 0;
    left: 50%;

    width: 110%;
    object-fit: cover;
    transform: translateX(-50%) rotate(90deg);
  }
  .about__item:nth-child(3) .about__img img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 95%;
    object-fit: cover;
  }
}
/* TEAM */
.team {
  padding: 20px 0;
  text-align: center;
  /* background-image: url(./../img/BG/bg2.png); */
  background-position: top 50px;
}

.team__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 25px;
}
.team__title {
  margin-bottom: 95px;
}

.team__member {
  position: relative;
  max-width: 442px;
  max-height: 589px;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.8s var(--animation-transition);
}

.team__member.animated {
  transform: scale(1);
  opacity: 1;
}

.member__name {
  position: absolute;
  left: 30px;
  bottom: 26px;
  font-weight: 700;
  font-size: 33px;
  line-height: 0.95;

  color: #ffffff;
  z-index: 2;
}

.member__photo {
  overflow: hidden;
}
.member__photo::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 65.83%,
    rgba(0, 0, 0, 0.75) 100%
  );

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.team__member img {
  transform: scale(1.05);
  transition: transform 0.2s ease-in;
}
.team__member:hover img {
  transform: scale(1);
}
@media (max-width: 1370px) {
  .team__wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__title {
    margin-bottom: 45px;
  }
  .team__member {
    max-width: 300px;
    /* max-height: auto; */
  }
  .member__name {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .team {
    margin-bottom: 10px;
    padding: 20px 0;
    text-align: center;

    background-position: top 50px;
  }
  .team__wrapper {
    justify-content: center;
  }

  .team__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.95;
  }

  .team__member {
    max-width: 295.59px;
    max-height: 399px;
  }
  .member__name {
    left: 19px;
    bottom: 17px;

    font-size: 16px;
    line-height: 1;
  }
}

/* RENT */
.rent {
  margin-bottom: 200px;
}
.rent__button {
  left: 50%;
  transform: translateX(-50%);
  margin: 150px 0;
}
.rent__content {
  height: 50vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(13, 13, 13, 0.9);
  transform: translate(0, 20%);
  opacity: 0;
  transition: all 0.8s var(--animation-transition);
  border: 1px solid rgba(13, 13, 13, 0.9);
}
.rent__content.animated {
  transform: translate(0, 0);
  opacity: 1;
}

.rent__content.active {
  border: 1px solid rgba(255, 118, 44, 0.8);
}

.rent__title {
  margin-bottom: 23px;
}
.rent__desc {
  margin-bottom: 57px;
  max-width: 500px;
  font-size: 20px;
}
.rent__link {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
  transition: color 0.2s ease-in;
}

.rent__link:hover {
  color: var(--accent-color);
}

.rent__link::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0px;
  left: 0;

  background-color: #fff;
  width: 100%;
  height: 1px;
  transition: background-color 0.2s ease-in;
}

.rent__link:hover:after {
  background-color: var(--accent-color);
}

@media (max-width: 1370px) {
  .rent__content {
    width: 80%;
    margin: 0 auto;
    height: 70vh;
  }
  .rent__desc {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .rent__button {
    margin: 20px 0 40px;
  }
  .rent__content {
    height: 50vh;
  }
  .rent__title {
    font-size: 16px;
  }
  .rent__desc {
    max-width: 70%;
    font-size: 10px;
  }
  .rent__link {
    font-size: 10px;
  }
}

/* VIDEO PRODUCTION */
.service__hero {
  position: relative;
  min-height: 100vh;
  /* background-repeat: no-repeat; */
}
.hero__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  z-index: -2;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(16, 16, 16, 0.2),
      rgba(16, 16, 16, 0.2)
    ),
    linear-gradient(180deg, rgba(16, 16, 16, 0.5) 50%, #101010 100%);
  z-index: -1;
}

.service__container {
  max-width: 1510px;
  padding: 0 15px;
  margin: 0 auto;
}
.back__link {
  padding-top: 50px;
  margin-bottom: 200px;
}
.back__link a {
  position: relative;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  transition: color 0.2s ease-in;
}

.back__link a::after {
  position: absolute;
  content: "";
  height: 1px;
  /* width: 100%; */
  bottom: 0px;
  left: 50%;
  width: 0px;
  background-color: #fff;
  transition: 0.2s ease-in;
}

.back__link a:hover {
  color: var(--accent-color);
}
.back__link a:hover::after {
  width: 100%;
  left: 0;
  background-color: var(--accent-color);
}

.service__title {
  text-align: left;
  margin-bottom: 110px;
  font-size: 130px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0px 0px 61px rgba(0, 0, 0, 0.1);
}

.video__play {
  position: relative;
  margin-bottom: 67px;
  padding-left: 70px;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.95;

  text-transform: uppercase;
  transition: scale 0.2s ease;
}
.video__play::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 55px;
  height: 55px;
  background-image: url(./../img/icons/playVideo.svg);
  background-size: cover;
}

.video__play:hover {
  scale: 1.03;
}
.video__play:active {
  scale: 1;
}

.service__desc {
  padding-top: 170px;
  max-width: 700px;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.2;
}

.service__pricelist {
  padding: 110px 0;
}

.pricelist__par {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  border-bottom: 1px solid #fff;
}

.pricelist__par:nth-child(3) {
  margin-bottom: 70px;
}

.par__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
}
.par__price {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
}
.par__additional {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
}
.par__additional p + p {
  margin-top: 20px;
}

.service_button-footer {
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}
.back_link_footer {
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 1370px) {
  .service__container {
    padding: 0 40px;
  }
  .back__link {
    margin-bottom: 100px;
  }
  .service__title {
    margin-bottom: 110px;

    font-size: 100px;
  }
  .video__play {
    font-size: 16px;
  }

  .par__title {
    font-size: 16px;
  }
  .par__price {
    font-size: 24px;
  }
  .par__additional {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .service__hero {
    min-height: 60vh;
  }
  .service__title {
    font-size: 70px;
  }
}
@media (max-width: 600px) {
  .service__hero {
    min-height: 40vh;
  }
  .back__link {
    margin-bottom: 200px;
  }
  .service__title {
    font-size: 40px;
    margin-bottom: 250px;
  }
}
@media (max-width: 600px) {
  .service__title {
    font-size: 30px;
  }
}

/* CONTACT US */
.contact-window {
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: rgba(13, 13, 13, 0.3);
}
.contact__wrapper {
  width: 50vw;
  height: 50vh;
  background-color: rgba(13, 13, 13, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-window__title {
  width: 50%;
  margin: 0 auto 10px;
  font-weight: 300;
  font-size: 17px;
  opacity: 0.25;

  cursor: default;
}
.contact-window__input {
  padding: 16px 0;
  margin: 0 auto 16px;
  border: 1px solid #fff;
  width: 50%;
  font-size: inherit;
  text-align: center;
  transition: border 0.2s ease-in;
}

.contact-window__input:focus {
  border: 1px solid var(--accent-color);
}
.contact-window__input:nth-child(4) {
  margin-bottom: 36px;
}
.contact-window__btn {
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 10px;
}
.contact-window__link {
  padding-top: 10px;
  margin-bottom: 0;
  opacity: 0.25;
  transition: opacity 0.2s ease-in;
}
.contact-window__link:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  .contact__wrapper {
    width: 90vw;
  }
  .contact-window__input {
    padding: 10px 0;
    width: 80%;
  }
  .contact-window__title {
    width: 80%;
    font-size: 16px;
  }
}
