@import url(./reset.css);
@import url("./gotham/stylesheet.css");

body {
  color: white;
  background-color: #101010;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
}

/* BASE */

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
}

.none {
  display: none;
}

/* VIDEO */

.header__video {
  position: absolute;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: -1;
}

.header__video::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, rgb(16, 16, 16, 0) 42.16%, #101010 100%);
  background-color: rgba(16, 16, 16, 0.6);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* .video {
  position: relative;
  z-index: 1;
  padding-bottom: 56%;
} */

.header__video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* HEADER */

.header__content {
  height: 100vh;
}

.header__nav {
  padding-top: 60px;
  margin-bottom: 100px;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav a {
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;

  transition: 0.2s ease-in;
}

/* .header__nav a::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -6px;
  background-color: white;
  transition: 0.2s ease-in;
} */

.header__nav a:hover {
  color: #ff752c;
}
/* .header__nav a:hover::after {
  background-color: #ff752c;
} */

/* INTRO */
.header_intro {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 671px;
  height: 343px;
}

.header__logo img {
  height: 100%;
  width: auto;
}

/* .header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 73.4px;
  line-height: 70px;
} */

/* .header__title strong {
  color: #ff752c;
} */

.header__text {
  margin-bottom: 200px;
  text-align: center;

  padding-top: 40px;
  max-width: 824px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;

  text-align: center;
}

.header__link a {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.95;
  transition: 0.2s ease-in;
  color: #fff;
}

/* .header__link a::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -6px;
  background-color: white;
  transition: 0.2s ease-in;
} */

.header__link a:hover {
  color: #ff752c;
}
/* .header__link a:hover::after {
  background-color: #ff752c;
} */

@media (max-width: 1440px) {
  .container {
    max-width: 900px;
  }
  .header__menu ul {
    column-gap: 50px;
  }

  .header__title {
    font-size: 60px;
    line-height: 105%;
  }
  .header__text {
    margin-bottom: 130px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 550px;
  }
  .header__content {
    padding-top: 140px;
  }

  .header__nav {
    display: none;
  }
  .header__logo {
    width: 273px;
    height: 139px;
  }

  .header__text {
    max-width: 290px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.36;
  }
  .header__link a {
    display: none;
  }
}

/* MAIN */
.main {
  overflow: hidden;
  position: relative;
}

.bg__img {
  width: 120%;
  justify-self: center;
  position: absolute;
  z-index: -1;
  left: 0;
  /* animation: bganimation 5s 0s infinite ease-in-out; */
}

.higher {
  top: 15%;
}
.below {
  bottom: 0%;
}

/* @keyframes bganimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */
/* BARS SECTION */

.services {
  padding-top: 130px;
  margin-bottom: 100px;
}

.services__content {
  justify-content: center;
  text-align: center;
}

.services__title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
}
.services__title strong {
  color: #ff752c;
}

/* .services__subtitle {
  margin-bottom: 80px;
  font-weight: 300;
  font-size: 30px;
  line-height: 136%;
  color: #9d9d9d;
} */

.services__items {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 30px;
}
.services__bar {
  position: relative;
  max-width: 442px;
  max-height: 284px;
}

.services__cover {
}

.services__photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 65.83%,
    rgba(0, 0, 0, 0.75) 100%
  );
}
.services__photo {
  width: 100%;
  height: 100%;
}

.bar__desc {
  position: absolute;
  padding: 24px;
  bottom: 0;
  z-index: 2;
}

.bar__desc h4 {
  margin-bottom: 19px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 33.2px;
  line-height: 32px;

  color: #ffffff;
}

.services__more {
  display: flex;
  column-gap: 22px;
  transition: 0.2s ease-in;
}

.services__more:hover {
  column-gap: 30px;
}

.services__more p {
  position: relative;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 22.8px;
  line-height: 22px;

  color: #ffffff;
}

.services__more img {
  width: 49.3px;
}

@media (max-width: 1440px) {
  .services__items {
    flex-direction: column;
    align-items: center;
  }

  .services__bar {
    overflow: hidden;
    width: 100%;
    max-width: 900px;
  }
  .services__photo {
    object-fit: contain;
  }
  .services__photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      225deg,
      rgba(0, 0, 0, 0.4) 65.83%,
      rgba(0, 0, 0, 0.75) 100%
    );
  }
}
@media (max-width: 600px) {
  .services {
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .services__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.93;
  }
  .services__bar {
    width: 300px;
    height: 193px;
  }

  .services__items {
    row-gap: 13px;
  }
  .services__bar {
    max-width: 442px;
    max-height: 284px;
  }

  .bar__desc {
    padding: 15px;
  }

  .bar__desc h4 {
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 21px;
    line-height: 0.95;
  }

  .services__more {
    column-gap: 5px;
  }

  .services__more:hover {
    column-gap: 30px;
  }

  .services__more p {
    font-weight: 300;
    font-size: 13px;
    line-height: 0.95;
  }

  .services__more img {
    width: 17.68px;
  }
}
/* sadsakjdhkjawhdowuahdilashfilwhafihwaiofhwaioskldjawidjasjdwilajdilsjadliwja */

/* sadsakjdhkjawhdowuahdilashfilwhafihwaiofhwaioskldjawidjasjdwilajdilsjadliwja */

/* About us */
.about {
  padding: 100px 0 150px 0;
}

.about__item {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;

  height: 439px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  background: rgba(13, 13, 13, 0.9);
}

.about__item + .about__item {
  margin-top: 18px;
}

.about__item:nth-child(even) {
  flex-direction: row-reverse;
}

.about__text {
  padding: 0 110px;
  max-width: 660px;
  text-align: center;
}
.about__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  text-align: center;

  color: #ffffff;
}

.about__title strong {
  color: #ff752c;
}

.about__desc {
  max-width: 445px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.22;

  color: #ffffff;
}
.about__img {
  height: auto;
}

@media (max-width: 1440px) {
  .about__item {
    flex-direction: column;
    row-gap: 50px;
    height: auto;
    align-items: center;
    overflow: hidden;
    padding: 40px 0;
  }
  .about__item:nth-child(even) {
    flex-direction: column;
  }
  .about__img {
    width: 100%;
    height: 100%;
  }
  .about__img img {
    top: 0;
    left: 0;
    width: 1000px;
  }
}

@media (max-width: 600px) {
  .about {
    padding: 50px 0 50px 0;
  }

  .about__item {
    padding: 36px 0 0 0;
    max-width: 300px;
    height: 540px;

    row-gap: 0px;

    align-items: center;
    overflow: hidden;
  }

  .about__item + .about__item {
    margin-top: 30px;
  }

  .about__text {
    padding: 0 60px;
  }
  .about__title {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 0.95;
    text-align: center;
  }

  .about__desc {
    max-width: 180px;
    font-size: 8px;
    line-height: 1.21;
  }
  .about__img {
    position: relative;
    height: 1000px;
    height: 100%;
  }
  .about__item:nth-child(1) .about__img img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 110%;
    object-fit: cover;
  }
  .about__item:nth-child(2) .about__img img {
    position: absolute;
    top: 0;
    left: 50%;

    width: 110%;
    object-fit: cover;
    transform: translateX(-50%) rotate(90deg);
  }
  .about__item:nth-child(3) .about__img img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 95%;
    object-fit: cover;
  }
}
/* TEAM */
.team {
  margin-bottom: 180px;
  padding: 20px 0;
  text-align: center;
  /* background-image: url(./../img/BG/bg2.png); */
  background-position: top 50px;
}

.team__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 25px;
}
.team__title {
  margin-bottom: 95px;
  font-weight: 700;
  font-size: 38px;
  line-height: 0.98;
}
.team__title strong {
  color: #ff752c;
}
.team__member {
  position: relative;
  max-width: 442px;
  max-height: 589px;
}
.member__name {
  position: absolute;
  left: 30px;
  bottom: 26px;
  font-weight: 700;
  font-size: 33px;
  line-height: 0.95;

  color: #ffffff;
  z-index: 2;
}
.member__photo {
}

.member__photo::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 65.83%,
    rgba(0, 0, 0, 0.75) 100%
  );

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: 600px) {
  .team {
    margin-bottom: 30px;
    padding: 20px 0;
    text-align: center;

    background-position: top 50px;
  }
  .team__wrapper {
    justify-content: center;
  }

  .team__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.95;
  }

  .team__member {
    max-width: 295.59px;
    max-height: 399px;
  }
  .member__name {
    left: 19px;
    bottom: 17px;

    font-size: 22px;
    line-height: 1;
  }
}

/* rent */
.rent {
  margin-bottom: 200px;
}
.rent__content {
  padding: 240px 430px;
  text-align: center;
  background: rgba(13, 13, 13, 0.9);
}

.rent__title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 37.6068px;
  line-height: 36px;
}
.rent__desc {
  margin-bottom: 57px;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.22;
}
.rent__link {
  position: relative;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.22;

  text-align: center;
  color: #ffffff;
  transition: color 0.2s ease-in;
}

.rent__link:hover {
  color: #ff752c;
}

.rent__link::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -5px;
  left: 0;

  background-color: #fff;
  width: 100%;
  height: 1px;
  transition: background-color 0.2s ease-in;
}

.rent__link:hover:after {
  background-color: #ff752c;
}

@media (max-width: 600px) {
  .rent {
    padding: 0 30px;
  }
  .rent__content {
    padding: 40px 10px;
    text-align: center;
    background: rgba(13, 13, 13, 0.9);
  }

  .rent__title {
    margin-bottom: 23px;

    font-weight: 700;
    font-size: 16px;
    line-height: 0.95;
  }
  .rent__desc {
    margin-bottom: 57px;

    font-weight: 300;
    font-size: 10px;
    line-height: 1.36;
  }
  .rent__link {
    font-weight: 300;
    font-size: 10px;
    line-height: 1.36;
  }
  .rent__link::after {
    height: 0.5px;
  }
}
